@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/*general*/

body{
  background-color: rgb(0,0,0);
  font-family: 'Questrial', sans-serif;
  }

  p {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
}


/*Colores de texto*/
.texto-blanco{
  color: rgb(205, 205, 205);
}


.texto-rosa{
  color: rgb(255, 36, 92);
}

/*colores de fondo*/

.fondo-negro{
  background-color: rgb(0, 0, 0);
}

.fondo-rosa{
  background-color: rgb(255, 36, 92);
}

.container-btns{
  background-color: rgb(0, 0, 0);
  margin-left: 33%;
}



/* nav */

.nav-wrapper{
  background-color: rgb(0, 0, 0);
}

.logo{
  width: 60%;
  height: 60%;
}


/*INICIO*/
.imagen-nombreYurian{
  margin-top: 0%;
  width: 560px;
  height: 420px;
}

.span-borde{
  padding: 1%;
}

.container-menu{
  margin-bottom: 180px;
}
/*fixed-action-btn:hover{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 36, 92);
}*/


/*ACERCA DE MI */
.foto-yurian{
  margin-top: 0%;
  width: 350px;
  height: 300px;
}

.acerca-de-mi__div{
  margin-top: 3%;
  margin-bottom: 3%;
}

/*EFECTO LETRAS ACERCA DE MÍ*/
@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  animation-name: slideInDown;
}

@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInLeft{
  animation-name: slideInLeft;
  animation-iteration-count: 1;
}
/*efecto girar*/

.btn-acercaDeMi{
   height: 200px;
   width: 200px;
   border: 1px;
   margin: 10px auto;
   background: #ccc;
   text-align: center;
   transition: all 2s ease-in-out;
}

 .btn-acercaDeMi, .btn-acercaDeMi.hover_effect {
      transform: rotate(720deg) scale(2,2);
   }


.container-titulo{
  margin-top: 2%;
  margin-left: 0px;
}

@keyframes rotate {from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}}
@-webkit-keyframes rotate {from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}}
  .btn-acercaDeMi{
      -webkit-animation: 3s rotate linear infinite;
      animation: 3s rotate linear infinite;
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
  }

/*SKILLS*/
#contenedor {
  width: 25em;
  height: 1em;
  margin: 0 auto;


  }

#barra-intermedio {
  width: 0;
  height: 100%;
  background: rgb(255, 36, 92);
  border-radius: 152px 152px 152px 152px;
  -moz-border-radius: 152px 152px 152px 152px;
  -webkit-border-radius: 152px 152px 152px 152px;
}

@keyframes progreso {
  0% {
      width: 0;
  }
  100% {
      width: 100%;
  }
}

@keyframes porcentaje {
from {
  visibility: visible;
}
  0% {
      content: '0%';
  }
  25% {
      content: '25%';
  }
  50% {
      content: '50%';
  }
  75% {
      content: '75%';
  }
  100% {
      content: '100%';
  }
}

#barra-intermedio {
  animation: progreso 7s linear infinite;
}


.container-principal-skills{
    border: solid 1px rgb(205, 205, 205);
    width: 800px;
    height: 360px;
    margin-left: 20%;
}

.container-principal-skills-soft{
  border: solid 1px rgb(205, 205, 205);
  width: 800px;
  height: 180px;
  margin-left: 20%;
  margin-bottom: 10%;
}

/*CONTACTO*/
.container-principal-contacto{
  border: solid 1px rgb(205, 205, 205);
  width: 400px;
  height: 400px;
}




.btn-acercaDeMi, .btn-proyectos, .btn-skills, .btn-contacto{
  background-color: rgb(42, 42, 42);
  margin-left: 0px;
  margin: 3%;
}

.btn-acercaDeMi:hover, .btn-proyectos:hover, .btn-skills:hover, .btn-contacto:hover{
  background-color: rgb(255, 36, 92);

}


/*PROYECTOS*/

.proyectos__div{
  margin-bottom: 5%;
}

.img-proyectos{
  height: 270px;
  width: 440px;
}

.img-proyectos:hover {
  opacity: 1;
}

.h1-proyectos {
  padding: 0px;
  margin: 0px;
}

.caption-style-4 {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.caption-style-4 li {
  float: left;
  padding: 0px;
  position: relative;
  overflow: hidden;
}

.caption-style-4 li:hover .caption {
  opacity: 2;
}

.caption-style-4 li:hover .img-proyectos {
  opacity: 1;
  transform: scale(1., 1.);
  -webkit-transform: scale(1., 1.);
  -moz-transform: scale(1., 1.);
  -ms-transform: scale(1., 1.);
  -o-transform: scale(1., 1.);
}

.caption-style-4 .img-proyectos {
  margin: 0px;
  padding: 0px;
  float: left;
  z-index: 4;
}

.caption-style-4 .caption {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  -webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  -ms-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}

.caption-style-4 .img-proyectos {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.caption-style-4 .blur {
  background-color: rgba(0, 0, 0, 0.75);
  height: 300px;
  width: 400px;
  z-index: 5;
  position: absolute;
}

.caption-style-4 .caption-text h1 {
  text-transform: uppercase;
  font-size: 24px;
}

.caption-style-4 .caption-text {
  z-index: 10;
  color: #fff;
  position: absolute;
  width: 300px;
  height: 400px;
  text-align: center;
  top: 5px;
  left: 0px;
}


/*S K I L L S */

.div-html5, .div-css3, .div-bootstrap, .div-materialize, .div-foundation {
  height: 5px;
  width: 180px;
  margin-left: 0px;
  border-color: rgb(255, 36, 92);
  background-color: rgb(255, 36, 92);
  display: inline-block;
}

.div-js, .div-jquery, .div-github, .div-sass, .div-pug, .div-handlebars {
  height: 5px;
  width: 130px;
  margin-left: 0px;
  border-color: rgb(255, 36, 92);
  background-color: rgb(255, 36, 92);
  display: inline-block;
}

.img-labial{
  height: 20px;
  width: 30px;
}

.contenedor, .img-labial{
  display: inline-block;;
}
.material-icons{
 color: rgb(255, 36, 92);
}

a:hover {
  color: rgb(255, 36, 92);
}

.y-c{
  width: 20%;
  height: 20%;

}

.icono-pequeño{
  width: 5%;
  height: 5%;
}

.yurian-logo__contacto{
  width: 20%;
  height: 20%;
}

/* F O O T E R */

.footer-inicio, .footer{
  padding: 1%;
}

.container-contacto{
  margin-bottom: 10%;
  margin-top: 10%;
}
