@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/*general*/

*{
  font-family: 'Questrial', sans-serif;
}

body{
  background-color: rgb(0,0,0);
  }

  p {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
}


/*Colores de texto*/
.texto-blanco{
  color: rgb(205, 205, 205);
}


.texto-rosa{
  color: rgb(255, 36, 92);
}

/*colores de fondo*/

.fondo-negro{
  background-color: rgb(0, 0, 0);
}

.fondo-rosa{
  background-  color: rgb(255, 36, 92);
}

.container-btns{
  background-color: rgb(0, 0, 0);
  margin-left: 33%;
}


/*efecto girar*/

.btn-acercaDeMi{
   height: 200px;
   width: 200px;
   border: 1px;
   margin: 10px auto;
   background: #ccc;
   text-align: center;
   transition: all 2s ease-in-out;
}

 .btn-acercaDeMi, .btn-acercaDeMi.hover_effect {
      transform: rotate(720deg) scale(2,2);
   }

.container-titulo{
  margin-top: 2%;
}

@keyframes rotate {from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}}
@-webkit-keyframes rotate {from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}}
  .btn-acercaDeMi{
      -webkit-animation: 3s rotate linear infinite;
      animation: 3s rotate linear infinite;
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
  }


.boton-inicio{
  width: 10%;
  height: 10%;
}

.material-icons{
  background-color:  rgb(255, 36, 92);
}

.material-icons:hover{
  background-color:  rgb(59, 59, 59);
}


.container-principal--acercadeYu{
  margin-top: 0%;
  margin-bottom: 20%;
}

.foto-yurian{
  margin-top: 5%;
  width: 50%;
  height: 50%;
}

.container-principal-skills{
    border: solid 1px rgb(205, 205, 205);
    width: 800px;
    height: 360px;
    margin-left: 20%;
}

.container-principal-skills-soft{
  border: solid 1px rgb(205, 205, 205);
  width: 800px;
  height: 180px;
  margin-left: 20%;
  margin-bottom: 10%;
}

.container-principal-contacto{
  border: solid 1px rgb(205, 205, 205);
  width: 400px;
  height: 400px;
}


.imagen-nombreYurian{
  margin-top: 0%;
  width: 50%;
  height: 50%;
}

.btn-acercaDeMi, .btn-proyectos, .btn-skills, .btn-contacto{
  background-color: rgb(42, 42, 42);
  margin-left: 0px;
  margin: 3%;
}

.btn-acercaDeMi:hover, .btn-proyectos:hover, .btn-skills:hover, .btn-contacto:hover{
  background-color: rgb(255, 36, 92);

}


/*PROYECTOS*/


.img-proyectos{
  height: 180px;
  width: 330px;
}

.img-proyectos:hover {
  opacity: 1;
}

.h1-proyectos {
  padding: 0px;
  margin: 0px;
}

.caption-style-4 {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.caption-style-4 li {
  float: left;
  padding: 0px;
  position: relative;
  overflow: hidden;
}

.caption-style-4 li:hover .caption {
  opacity: 2;
}

.caption-style-4 li:hover .img-proyectos {
  opacity: 1;
  transform: scale(1.15, 1.15);
  -webkit-transform: scale(1.15, 1.15);
  -moz-transform: scale(1.15, 1.15);
  -ms-transform: scale(1.15, 1.15);
  -o-transform: scale(1.15, 1.15);
}

.caption-style-4 .img-proyectos {
  margin: 0px;
  padding: 0px;
  float: left;
  z-index: 4;
}

.caption-style-4 .caption {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  -webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  -ms-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}

.caption-style-4 .img-proyectos {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.caption-style-4 .blur {
  background-color: rgba(0, 0, 0, 0.75);
  height: 300px;
  width: 400px;
  z-index: 5;
  position: absolute;
}

.caption-style-4 .caption-text h1 {
  text-transform: uppercase;
  font-size: 24px;
}

.caption-style-4 .caption-text {
  z-index: 10;
  color: #fff;
  position: absolute;
  width: 300px;
  height: 300px;
  text-align: center;
  top: 5px;
  left: 0px;
}

.page-footer{
  margin-top: 0px;
  background-color:  rgb(255, 36, 92);
}

.footer-copyright{
  background-color: rgb(255, 255, 255);
}

p{
  display: inline-block;
  margin: 3%;
}

.div-html5, .div-css3, .div-bootstrap, .div-materialize {
  height: 5px;
  width: 60%;
  margin-left: 0px;
  border-color: rgb(255, 36, 92);
  background-color: rgb(255, 36, 92);
  display: inline-block;
}

.div-js, .div-jquery, .div-github, .div-foundation, .div-sass, .div-pug, .div-handlebars {
  height: 5px;
  width: 50%;
  margin-left: 0px;
  border-color: rgb(255, 36, 92);
  background-color: rgb(255, 36, 92);
  display: inline-block;
}

.img-labial{
  height: 8%;
  width: 12%;
}

.material-icons{
 color: rgb(255, 36, 92);
}

a:hover {
  color: rgb(255, 36, 92);
}

.icono-pequeño{
  width: 5%;
  height: 5%;
}

/*EFECTO LETRAS ACERCA DE MÍ*/

@keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }

  75% {
    transform: translate3d(0, 10px, 0);
  }

  90% {
    transform: translate3d(0, -5px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.bounceInUp {
  animation-name: bounceInUp;
  animation-iteration-count: 1;
}
